/Java/target/
*.aaz
*.asv
/Compress2/commons-compress-1.19-src/target/
*.mltbx
/MatlabToolbox/external/Physilog5MatlabToolKit_v*

MatlabToolbox/examples/cross_country_skiing_IMU_and_video/example_data/
